/* 
CASCADING STYLESHEET  
*/

/* GLOBAL */
* {
  /* CORRIGINDO COMPORTAMENTO PADRÃO CSS */
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9f9f9;

  /* FONTE */
  font-family: "Roboto", "sans-serif";
}

h1,
h2 {
  color: #000000cc;
}

/* TITULOS */
header h1,
main h2 {
  margin-bottom: 70px;
}

main h2 span {
  color: #ff4f4f;
}

.form h2 {
  text-align: right;
  color: #ffffffee;
  font-size: 18px;
}

/* ESTRUTURA */
/* ALINHAMENTO DE TEXTOS */
header,
footer,
main {
  text-align: center;
}

header,
.form,
main {
  /* espaçamentos com margin */
  margin: 0 auto 3rem;

  /* limites dos elementos na página */
  width: 90%;
  max-width: 500px;
}

/* HEADER */

header button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #ff4f4f;
  color: #fff;
  font-weight: bold;
  border: none;
  margin-top: 1rem;
}

.logo {
  width: 120px;
  margin: 70px 0;
}

header p {
  font-size: 14px;
}

/* FORM */
section.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
  align-items: center;

  background-color: #ff4f4f;
  padding: 1rem 4rem;

  border-radius: 6px;
}

form input,
form button {
  /* LARGURA */
  width: 100%;

  /* ESPAÇAMENTOS */
  margin-bottom: 4px;

  /* PREENCHIMENTO */
  padding: 0.5rem 1rem;

  /* BORDAS */
  border-radius: 4px;
  border: 1px #ffffff88 solid;
}

form input {
  background-color: transparent;
}

form input::placeholder {
  color: #ffffffaa;
}

form button {
  font-weight: bold;
}

/* MAIN */
main .donors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blood {
  color: #ff4f4f;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.blood::before {
  content: "";
  background-color: #ff4f4f11;
  width: 40px;
  height: 40px;
  position: absolute;

  /* ZÉ GOTINHA */
  border-radius: 50%;
  border-top-right-radius: 0;
  transform: rotate(-45deg);
}

.donor p {
  margin-top: 1.5rem;
  font-size: 14px;
}

footer {
  margin-top: auto;
  padding: 1rem;
  border: 1px solid #eeeeee;
}

/* funcionalidades com JS */

section.form {
  transition: all 300ms;
}

section.form.hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin-bottom: -70px;
}
